.backButton {
    color: rgba(0, 0, 0, 0.4);
    background: none;
    border: none;
}

.backButton:hover {
    color: #03275C;
}
.button {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
}
.nextButton {
    
    color: #F0F6FF;
    background-color: #03275C;
    composes: button;
}

.nextButton:hover {
    background-color: #054199;
}


.continueButton {
    background: #160AFF;
    composes: button;
}
.padding {
    padding: 18px;
}
.container {
    position:fixed;
    bottom: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    composes: padding;
}

.oneItemContainer {
    composes: container;
    justify-content: flex-end;
    composes: padding;

}