.container {
    display:flex;
    background-color: #f0f6ff;
    justify-content: center;
    padding: 12px 0px 17px;
    margin: 18px 0px 37px;
    gap: 19px;
}

.selectedtimePlane {
    font-family: ubuntu_md;
    color: #03275c;
}
.timePlane {
    font-family: ubuntu_md;
    color: rgba(0, 0, 0, 0.4);
}

.switch {
    position: relative;
    width: 38px;
    height: 17px;
    border: none;    
    /* dark blue */
    background: #03275C;
    border-radius: 50px;
}
.switch > div {
    position: absolute;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #f0f6ff;
    top: 3px;
    left: 3px;
    transition: all 0.2s linear;
}

.toggled > div{
    left: 23px;
}
@media screen and (min-width: 1024px) {
    .cardsContainer {
        display: flex;
        gap: 18px;
    }

    .main {
        margin-top: 31px;
        margin-right: 81px;
    }
}