.container {
    background: #F0F6FF;
    
    /* marine blue */
    border: 1.5px solid #96A0AB;
    border-radius: 6px;
}

.containerHolder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 11px 20px 23px;
}
.planContainer {
    display: flex;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
}
.selectedAddon {
    color: #96A0AB;
    font-size: 14px;
    font-family: 'ubuntu';
}

.bar {
    margin-top: 24px;
    margin-bottom: 14px;
    width: 90%;
    height: 1px;
    background-color: #D6D9E6;
}
.addonContainer {
    composes: planContainer;
    margin-bottom: 15px;
}

.addonContainer:last-of-type {
    margin-bottom: 0px;
}

.plan {
    font-family: 'ubuntu_md';
    color:#03275C;
}
.change {
    background: none;
    border: none;
    color: #96A0AB;
    font-size: 14px;
    padding-top: 11px;
}

.planPrice {
    font-family: 'ubuntu_md';
    color:#03275C;
}

.addonPrice {
    font-family: 'ubuntu_md';
    color: #476385;}

.totalPriceContainer {
    display: flex;
    justify-content: space-between;
    margin: 40px 35px 30px;

}

.totalPrice {
    color: #483EFF;
    font-family: 'ubuntu_md';
    font-size: 20px;
}

.priceDescription {
    color: #96A0AB;
}