.title {
    font-family: ubuntu_bd;
    font-size: 24px;
    padding-top: 38px;
    margin-bottom: 6px;
}
.description {
    color: #96A0AB;
    margin-bottom: 36px;
}
@media screen and (min-width: 1024px) {
    .title {
        font-size: 36px;
        padding-top: 41px;
    }

    .description {
        margin-bottom: 0px;
    }
}

