@font-face {
  font-family: ubuntu_md;
  src: url('../assets/fonts/Ubuntu-Medium.ttf');
}

@font-face {
  font-family: ubuntu;
  src: url('../assets/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: bd;
  src: url('../assets/fonts/Ubuntu-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
}